@model CarsDotNet.Models.Audi
@{
    ViewBag.Title = "Audi";
}
<img src="http://www.topcarwallpaper.org/wp-content/uploads/2014/03/2014-audi-a8-coupe-wallpaper-idix78y8.jpg" />
<h2 style="color: silver;">@Model.Company</h2><br />
<h2 style="color: silver;">@Model.Type</h2><br />
<h2 style="color: silver;">@Model.Color</h2><br />
