@model CarsDotNet.Models.BMW

@{
    ViewBag.Title = "BMW";
}
<img src="http://git.me/photo/2014/05/11/12532702584412901376/12311950277321805824/2003-BMW-745Li-V8-325HP-AC-Schnitzer-kit-22-wheels-lowered-black-black-109K.jpg" />
<h2 style="color: black;">@Model.Company</h2><br/>
<h2 style="color: black;">@Model.Type</h2><br/>
<h2 style="color: black;">@Model.Color</h2><br/>

