@model CarsDotNet.Models.Lexus
@{
    ViewBag.Title = "Lexus";
}

<img src="http://lexusenthusiast.com/images/weblog/14-05-12-lexus-lfa-fresh-green.jpg" />
<h2 style="color: green;">@Model.Company</h2><br />
<h2 style="color: green;">@Model.Type</h2><br />
<h2 style="color: green;">@Model.Color</h2><br />

