@model CarsDotNet.Models.Maybach
@{
    ViewBag.Title = "Maybach";
}
<img src="http://www.royalsilverservice.co.uk/Content/images/Vehicles/maybach/highlights2/maybach62-interior-seat-fully-reclined-1024.jpg" />
<h2 style="color: silver;">@Model.Company</h2><br />
<h2 style="color: silver;">@Model.Type</h2><br />
<h2 style="color: silver;">@Model.Color</h2><br />