@model CarsDotNet.Models.Mercedes

@{
    ViewBag.Title = "Mercedes";
}
<img src="http://www.248am.com/images/sls.jpg" /><br />
     <h2 style="color: red;">@Model.Company</h2><br />
     <h2 style="color: red;">@Model.Type</h2><br />
     <h2 style="color: red;">@Model.Color</h2><br />

